{% extends 'news/index.html' %}
{% load static %}
    {% block main %}
        <link rel="stylesheet" href="{% static 'coefficient_table.css' %}">
        <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">
                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            <div class="post-data">
                                <a href="#" class="post-catagory">Таблица коэффицентов УЕФА<br><br></a>
                                <div class="post-meta">
                                    <p class="post-excerp">
                                    1-4 места - 4 клуба в Лиге чемпионов и 3 клуба в Лиге Европы<br>
                                    5-6 места - 3 клуба в Лиге чемпионов и 3 клуба в Лиге Европы<br>
                                    7-15 места - 2 клуба в Лиге чемпионов и 3 клуба в Лиге Европы<br>
                                    16-55 места - 1 клуб в Лиге чемпионов и 3 клуба в Лиге Европы
                                    </p>
                                </div>
                                    <div class="row">
                                        {% if countries %}
                                            <table>
                                            <tr>
                                                <th></th>
                                                <th>Страна</th>
                                                <th>2015/2016</th>
                                                <th>2016/2017</th>
                                                <th>2017/2018</th>
                                                <th>2018/2019</th>
                                                <th>2019/2020</th>
                                                <th>Рейтинг</th>
                                                <th>Команды</th>
                                            </tr>
                                                {% for country in countries %}
                                                    <tr>
                                                        <td>{{ country.place }}</td>
                                                        <td>{{ country.country_name }}</td>
                                                        <td>{{ country.season15_16 }}</td>
                                                        <td>{{ country.season16_17 }}</td>
                                                        <td>{{ country.season17_18 }}</td>
                                                        <td>{{ country.season18_19 }}</td>
                                                        <td>{{ country.season19_20 }}</td>
                                                        <td>{{ country.total_rating }}</td>
                                                        <td>{{ country.command_count }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        {%  else %}
                                            Турнирная таблица отсутствует.
                                        {% endif %}
                                        <br>Последнее обновление: 27 ноября
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">
                        <!-- Popular News Widget -->
                        <div class="popular-news-widget mb-50">
                            <h3>Последние новости</h3>
                            {% if latest_news %}
                                {% for news in latest_news %}
                                    <!-- Single Popular Blog -->
                                    <div class="single-popular-post">
                                        <a href="{% url 'news:one_by_one' news.id %}">
                                            <h6><span>{{ forloop.counter }}.</span> {{ news.news_title }}</h6>
                                        </a>
                                        <p>{{ news.publication_date }}</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                Пока еще нет последних новостей.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->
{% endblock %}