{% extends 'news/index.html' %}
{% load i18n %}
    {% block main %}
    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">
                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            <div class="post-data">
                                <a href="#" class="post-catagory">{% trans 'Турнирная таблица Казахстанской Премьер-Лиги' %}<br><br></a>
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <div class="row">
                                            {% if club_list %}
                                                <table>
                                                <tr>
                                                    <th>{% trans 'Название клуба' %}</th>
                                                    <th>{% trans 'Количество игр' %}</th>
                                                    <th>{% trans 'Победы' %}</th>
                                                    <th>{% trans 'Ничьи' %}</th>
                                                    <th>{% trans 'Поражения' %}</th>
                                                    <th>{% trans 'ГЗ' %}</th>
                                                    <th>{% trans 'ГП' %}</th>
                                                    <th>{% trans 'Очки' %}</th>
                                                </tr>
                                                    {% for i in club_list %}
                                                        <tr>
                                                            <td><img src="{{ i.club_icon.url }}" width="30" height="30" align="top">  «{{ i.club_name }}»</td>
                                                            <td>{{ i.matches_played }}</td>
                                                            <td>{{ i.count_of_wins }}</td>
                                                            <td>{{ i.count_of_draws }}</td>
                                                            <td>{{ i.count_of_loses }}</td>
                                                            <td>{{ i.goals_scored }}</td>
                                                            <td>{{ i.goals_conceded }}</td>
                                                            <td>{{ i.earned_points }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            {%  else %}
                                                {% trans 'Турнирная таблица отсутствует.' %}
                                            {% endif %}
                                    </div>
                                </form>
                                <div class="post-meta">
                                    <p class="post-excerp"> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">
                        <!-- Popular News Widget -->
                        <div class="popular-news-widget mb-50">
                            <h3>{% trans 'Последние новости' %}</h3>
                            {% if latest_news %}
                                {% for news in latest_news %}
                                    <!-- Single Popular Blog -->
                                    <div class="single-popular-post">
                                        <a href="{% url 'news:one_by_one' news.id %}">
                                            <h6><span>{{ forloop.counter }}.</span> {{ news.news_title }}</h6>
                                        </a>
                                        <p>{{ news.publication_date }}</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% trans 'Пока еще нет последних новостей.' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->
{% endblock %}