<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Архив новостей</title>
</head>
<body>
    <a href="/"><button type="submit">Домашняя страница</button> </a>
    <a href="/kaz-premier-league/"><button type="submit">Казахстанская Премьер-лига</button> </a>
    <a href=""><button type="submit">Архив новостей</button></a><br><br>
    {% if news_list %}
        {% for i in news_list %}
            <a href="{%  url 'news:one_by_one' i.id %}"><strong>{{ i.news_title }}</strong><br></a>
            Дата публикации новости: {{ i.publication_date }} <br><br>
        {% endfor %}
    {% else %}
        Список новостей отсутствует
    {% endif %}
</body>
</html>