<!DOCTYPE html>
<html lang="en">
<body>
<a href="/"><button type="submit">Домашняя страница</button> </a>
<a href="kaz-premier-league/"><button type="submit">Казахстанская Премьер-лига</button> </a>
<a href="archive/"><button type="submit">Архив новостей</button></a>
{% if user.is_authenticated %}
    <a href="accounts/profile/"><button type="submit">Профиль</button></a>
{% endif %}<br><br>
{#    <form method="get" action="{% url 'news:search' ((ТУТ ДОЛЖНО БЫТЬ ЗНАЧЕНИЕ ИЗ <input tupe=text>)) %}">#}
{#        <input type="text" size="40" placeholder="Поиск...">#}
{#        <button type="submit">Поиск</button><br><br>#}
{#    </form>#}
<form method="post" action="{% url "news:search" %}">
    {%  csrf_token %}
    <input name="searching_line" type="text" size="40" placeholder="Поиск по содержимому новостей...">
    <button type="submit">Поиск</button><br><br>
</form>


{% if news_list %}
    <strong>Популярные новости:</strong><br><br><br>
    {% for i in news_list %}
        <a href="{%  url 'news:one_by_one' i.id %}" >
            <strong>{{ i.news_title }}</strong><br>
        </a>
        Дата публикации новости: {{ i.publication_date }} <br><br>
    {% endfor %}
    {% if user.is_authenticated %}
        Вы вошли под именем {{ user.username }} <br><br>
        <a href="/accounts/logout"><input type="submit" value="Выйти"></a>
    {% else %}
        <a href="/accounts/login"> <input type="submit" value="Войти"> </a><br><br>
        <strong>Впервые здесь?</strong> <br><br>
        <a href="/accounts/register"><input type="submit" value="Зарегистрироваться"></a>
    {% endif %}
{%  else %}
    Новости пока что отсутствуют.
{% endif %}
</body>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Новости {% endblock %}</title>
</head>
</html>