{% extends 'news/index.html' %}
{% block main %}
    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row">
            {% if user.is_authenticated %}
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            <div class="post-thumb">
                                <a href="{% url 'news:profile' user.username %}"><img src="{{ user.profile.avatar.url }}" width="150" height="150" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{% url 'news:profile' user.username %}" class="post-catagory">{{ user.username }}</a>
                                <a href="{% url 'news:profile' user.username %}" class="post-title">
                                    Имя: {{ user.first_name }} <br>
                                    Фамилия: {{ user.last_name }} <br>
                                    Почта: {{ user.email }} <br>
                                    Дата рождения: {{ user.profile.birth_date }}<br><br>
                                    <a href="{% url 'news:show_favourites' user.username %}" class="post-catagory"> Посмотреть избранные новости</a>
                                </a>
                                <br><br><br><br>
                                <a href="#" class="post-catagory">Изменить профиль</a>
                                <form method="post" action="{% url 'news:edit_profile' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <input type="text" class="form-control" name="first_name" placeholder="Имя" value="{{ user.first_name }}" required><br>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <input type="text" class="form-control" name="last_name" placeholder="Фамилия" required value="{{ user.last_name }}">
                                            </div>
                                            <div class="col-12">
                                                Дата рождения:<br><br>
                                                <input type="date" class="form-control" name="date" placeholder="Дата рождения" required value="{{ user.profile.birth_date }}"><br>
                                            </div>
                                            <div class="col-12 text-center">
                                                <button class="btn newspaper-btn mt-30 w-100" type="submit">Изменить</button>
                                            </div><br><br>

                                    </div>
                                </form>
                                <div class="post-meta">
                                <p class="post-excerp">
                                    {% if result %}
                                        {{ result }}!
                                    {% endif %}
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            <div class="post-thumb">
                                <a href="{% url 'news:profile' %}"><img src="{{ user.profile.avatar.url }}" width="150" height="150" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{% url 'login' %}" class="post-catagory">Авторизуйтесь чтобы получить возможность просматривать профиль</a>
                                <a href="{% url 'news:profile' %}" class="post-title">
                                </a>
                                <div class="post-meta">
                                    <p class="post-excerp"> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">
                        <!-- Popular News Widget -->
                        <div class="popular-news-widget mb-50">
                            <h3>Последние новости</h3>
                            {% if latest_news %}
                                {% for news in latest_news %}
                                    <!-- Single Popular Blog -->
                                    <div class="single-popular-post">
                                        <a href="{% url 'news:one_by_one' news.id %}">
                                            <h6><span>{{ forloop.counter }}.</span> {{ news.news_title }}</h6>
                                        </a>
                                        <p>{{ news.publication_date }}</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                Пока еще нет последних новостей.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->
{% endblock %}