{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Казахстанская Премьер-лига</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{% url 'news:index' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
                            </div>

                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">
                                <!-- Login -->
                                {% if user.is_authenticated %}
                                    <div class="login d-flex">
                                        <a href="{% url 'news:profile' %}">{{ user.username }}</a>
                                        <a href="{% url 'logout' %}">Выйти</a>
                                    </div>
                                {% else %}
                                    <div class="login d-flex">
                                        <a href="{% url 'login' %}">Войти</a>
                                        <a href="{% url 'news:register' %}">Зарегистрироваться</a>
                                    </div>
                                {% endif %}
                                <!-- Search Form -->
                                <div class="search-form">
                                    <form action="{% url 'news:search' %}" method="post">
                                        {% csrf_token %}
                                        <input type="search" name="search" class="form-control" placeholder="Поиск по содержимому...">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="{% url 'news:index' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="{% url 'news:index' %}">Домашняя страница</a></li>
                                    <li><a href="#">Казахстанская премьер лига</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'news:kpl_news' %}">Новости</a></li>
                                            <li><a href="{% url 'kpl:tournament_table' %}">Турнирная таблица</a></li>
                                            <li><a href="{% url 'kpl:calendar' %}">Календарь игр</a></li>
                                            <li><a href="#">Статистика</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Сборная</a></li>
                                    <li><a href="#">Лига чемпионов УЕФА</a></li>
                                    <li><a href="#">Лига Европы УЕФА</a></li>
                                    <li><a href="#">Рейтинг </a></li>
                                    <li><a href="{% url 'news:archive' %}">Архив новостей</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header><br>


    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row">
            {% if user.is_authenticated %}
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            <div class="post-thumb">
                                <a href="{% url 'news:profile' %}"><img src="{{ user.profile.avatar.url }}" width="150" height="150" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{% url 'news:profile' %}" class="post-catagory">{{ user.username }}</a>
                                <a href="{% url 'news:profile' %}" class="post-title">
                                    Имя: {{ user.first_name }} <br>
                                    Фамилия: {{ user.last_name }} <br>
                                    Почта: {{ user.email }} <br>
                                    Дата рождения: {{ user.profile.birth_date }}
                                </a>
                                <br><br><br><br>
                                <a href="#" class="post-catagory">Изменить профиль</a>
                                <form method="post" action="{% url 'news:edit_profile' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <input type="text" class="form-control" name="first_name" placeholder="Имя" value="{{ user.first_name }}" required><br>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <input type="text" class="form-control" name="last_name" placeholder="Фамилия" required value="{{ user.last_name }}">
                                            </div>
                                            <div class="col-12">
                                                Дата рождения:<br><br>
                                                <input type="date" class="form-control" name="date" placeholder="Дата рождения" required value="{{ user.profile.birth_date }}"><br>
                                            </div>
                                            <div class="col-12 text-center">
                                                <button class="btn newspaper-btn mt-30 w-100" type="submit">Изменить</button>
                                            </div><br><br>

                                    </div>
                                </form>
                                <div class="post-meta">
                                <p class="post-excerp">
                                    {% if result %}
                                        {{ result }}!
                                    {% endif %}
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            <div class="post-thumb">
                                <a href="{% url 'news:profile' %}"><img src="{{ user.profile.avatar.url }}" width="150" height="150" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{% url 'login' %}" class="post-catagory">Авторизуйтесь чтобы получить возможность просматривать профиль</a>
                                <a href="{% url 'news:profile' %}" class="post-title">
                                </a>
                                <div class="post-meta">
                                    <p class="post-excerp"> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">
                        <!-- Popular News Widget -->
                        <div class="popular-news-widget mb-50">
                            <h3>Последние новости</h3>
                            {% if latest_news %}
                                {% for news in latest_news %}
                                    <!-- Single Popular Blog -->
                                    <div class="single-popular-post">
                                        <a href="{% url 'news:one_by_one' news.id %}">
                                            <h6><span>{{ forloop.counter }}.</span> {{ news.news_title }}</h6>
                                        </a>
                                        <p>{{ news.publication_date }}</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                Пока еще нет последних новостей.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Copywrite -->
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{%  static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>