{% extends 'news/index.html' %}
{% block main %}
    <!-- ##### Blog Area Start ##### -->
    {% if news_list %}
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Featured Post -->
                        {% for news in news_list %}
                        <div class="single-blog-post featured-post mb-30">
                            <div class="post-thumb">
                                <a href="{% url 'news:one_by_one' news.id %}"><img src="{{ news.img.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{% url 'news:one_by_one' news.id %}" class="post-catagory">{{ news.news_tag }}</a>
                                <a href="{% url 'news:one_by_one' news.id %}" class="post-title">
                                    <h6>{{ news.news_title }}</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-excerp"> </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

{#                    <nav aria-label="Page navigation example">#}
{#                        <ul class="pagination mt-50">#}
{#                            <li class="page-item active"><a class="page-link" href="#">1</a></li>#}
{#                            <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                            <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                            <li class="page-item"><a class="page-link" href="#">4</a></li>#}
{#                            <li class="page-item"><a class="page-link" href="#">5</a></li>#}
{#                            <li class="page-item"><a class="page-link" href="#">...</a></li>#}
{#                            <li class="page-item"><a class="page-link" href="#">10</a></li>#}
{#                        </ul>#}
{#                    </nav>#}
                </div>

                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">

                        <!-- Popular News Widget -->
                        <div class="popular-news-widget mb-50">
                            <h3>Последние новости</h3>
                            {% if latest_news %}
                                {% for news in latest_news %}
                                    <!-- Single Popular Blog -->
                                    <div class="single-popular-post">
                                        <a href="{% url 'news:one_by_one' news.id %}">
                                            <h6><span>{{ forloop.counter }}.</span> {{ news.news_title }}</h6>
                                        </a>
                                        <p>{{ news.publication_date }}</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                Пока еще нет последних новостей.
                            {% endif %}
                        </div>


                        <!-- Latest Comments Widget -->
                        <div class="latest-comments-widget">
                            <h3>Последние комментарии</h3>
                            {% if latest_comments %}
                                {% for comment in latest_comments %}
                                    <!-- Single Comments -->
                                    <div class="single-comments d-flex">
                                        <div class="comments-thumbnail mr-15">
                                            <img src="{{ comment.comment_author.profile.avatar.url }}" alt="">
                                        </div>
                                        <div class="comments-text">
                                            <a href="#">{{ comment.comment_author }} <span>к</span> {{ comment.news.news_title|truncatewords:7 }}</a>
                                            <p>{{ comment.comment_date }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                Комментарии пока оставлены не были
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            <div class="post-data">
                                <a href="#" class="post-title">
                                    <h6>Пока еще новостей на эту тему нет!</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-excerp"> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">

                        <!-- Popular News Widget -->
                        <div class="popular-news-widget mb-50">
                            <h3>Последние новости</h3>
                            {% if latest_news %}
                                {% for news in latest_news %}
                                    <!-- Single Popular Blog -->
                                    <div class="single-popular-post">
                                        <a href="{% url 'news:one_by_one' news.id %}">
                                            <h6><span>{{ forloop.counter }}.</span> {{ news.news_title }}</h6>
                                        </a>
                                        <p>{{ news.publication_date }}</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                Пока еще нет последних новостей.
                            {% endif %}
                        </div>


                        <!-- Latest Comments Widget -->
                        <div class="latest-comments-widget">
                            <h3>Последние комментарии</h3>
                            {% if latest_comments %}
                                {% for comment in latest_comments %}
                                    <!-- Single Comments -->
                                    <div class="single-comments d-flex">
                                        <div class="comments-thumbnail mr-15">
                                            <img src="{{ comment.comment_author.profile.avatar.url }}" alt="">
                                        </div>
                                        <div class="comments-text">
                                            <a href="#">{{ comment.comment_author }} <span>к</span> {{ comment.news.news_title|truncatewords:7 }}</a>
                                            <p>{{ comment.comment_date }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                Комментарии пока оставлены не были
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br>
    {% endif %}
    <!-- ##### Blog Area End ##### -->
{% endblock %}